{% extends "base.html" %}
{% block title %}EzTutors - Create Student Account{% endblock %}
{% block navbar %}
{% include 'includes/_navbar.html' %}
{% endblock %}
{% block content %}
{% from "includes/_formHelper.html" import render_field %}
<h1 class="display-4">Create Student Account</h1>
<form method="POST" action="{{url_for('create_student_account')}}">
    <div class="form-group">
    {{ render_field(form.student_id_num, class="form-control") }}
    </div>
    <div class="form-group">
    {{ render_field(form.student_first_name, class="form-control") }}
    </div>
    <div class="form-group">
    {{ render_field(form.student_last_name, class="form-control") }}
    </div>
    <div class="form-group">
    {{ render_field(form.student_password, class="form-control") }}
    </div>
    <div class="form-group">
    {{ render_field(form.student_mobile, class="form-control") }}
    </div>
    <div class="form-group">
    {{ render_field(form.student_email, class="form-control") }}
    </div>
    <div class="form-group d-flex">
    {{ render_field(form.student_p1, class="form-check") }}
    </div>
    <div class="form-group d-flex">
    {{ render_field(form.student_p2, class="form-check") }}
    </div>
    <div class="form-group d-flex">
    {{ render_field(form.student_p3, class="form-check") }}
    </div>
    <div class="form-group d-flex">
    {{ render_field(form.student_p4, class="form-check") }}
    </div>
    <div class="form-group d-flex">
    {{ render_field(form.student_p5, class="form-check") }}
    </div>
    <div class="form-group d-flex">
    {{ render_field(form.student_p6, class="form-check") }}
    </div>
    <div class="form-group d-flex">
    {{ render_field(form.student_english, class="form-check") }}
    </div>
    <div class="form-group d-flex">
    {{ render_field(form.student_math, class="form-check") }}
    </div>
    <div class="form-group d-flex">
    {{ render_field(form.student_science, class="form-check") }}
    </div>
<input type="submit" value="Submit" class="btn btn-primary"/>
</form>
{% endblock %}
