body{
    background: #f1f1f1;
}

.weird-nav{
    background: #D3D3D3;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.weird-nav-link{
    color: #9a9a9a;
    font-weight: 600;
}

.weird-nav-link:hover{
    color: black;
    transition: 0.3s ease;
}

.feedback-bg{
    background: #D3D3D3;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.feedback-title{
    font-weight: 500;
}
.subject-field, .title-field{
    margin: 5px 0;
}
#feedback_title, #feedback_subject, #feedback_description{
    background: #fff;
    color: #525865;
    border-radius: 4px;
    border: 1px solid #d1d1d1;
    box-shadow: inset 0px 1px 8px rgba(0, 0, 0, 0.2);
    font-family: inherit;
    font-size: 1em;
    line-height: 1.45em;
    outline: none;
    -webkit-transition: .18s ease-out;
    -moz-transition: .18s ease-out;
    -o-transition: .18s ease-out;
    transition: .18s ease-out;
}
#feedback_title:hover, #feedback_subject:hover, #feedback_description:hover{
    box-shadow: inset 1px 2px 8px rgba(0, 0, 0, 0.02);
}
#feedback_title:focus, #feedback_subject:focus, #feedback_description:focus{
    color: #4b515d;
    border: 1px solid #B8B6B6;
    box-shadow: inset 1px 2px 4px rgba(0, 0, 0, 0.01), 0px 0px 8px rgba(0, 0, 0, 0.2);
}
.sf-data{
    display: flex;
    width: 200px;
}
.tf-data{
    display: flex;
    width: 70%;
}
.descf-data{
    height: 30vh
}
label{
    width: 250px;
    font-size: 20px;
    margin: 5px 0;
}
.fb-submit{
    margin-top: 10px;
}
.fb-delete{
    font-size: 25px;
    color: black
}
.fb-delete:focus{
    color: red;
    transition: 0.3s ease;
}
.fb-download{
    text-decoration: none;
    color: black;
    background: #58D68D;
}
.fb-download:hover{
    text-decoration: none;
    color: black;
    background: #58D68D;
    transform: scale(1.1);
    transition: 0.3s ease;
}
