body{
    background: #f1f1f1;
}
.ctest-title{
    font-weight: 500;
}
.ctest-bg{
    background: #D3D3D3;
    border-radius: 10px;
    padding-bottom: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#content_id, #marks, #content_subject{
    background: #fff;
    color: #525865;
    border-radius: 4px;
    border: 1px solid #d1d1d1;
    box-shadow: inset 0px 1px 8px rgba(0, 0, 0, 0.2);
    font-family: inherit;
    font-size: 1em;
    line-height: 1.45em;
    outline: none;
    -webkit-transition: .18s ease-out;
    -moz-transition: .18s ease-out;
    -o-transition: .18s ease-out;
    transition: .18s ease-out;
}
#q1, #a1, #q2, #a2, #q3, #a3{
    background: #fff;
    color: #525865;
    border-radius: 4px;
    border: 1px solid #d1d1d1;
    box-shadow: inset 0px 1px 8px rgba(0, 0, 0, 0.2);
    font-family: inherit;
    font-size: 1em;
    line-height: 1.45;
    outline: none;
    -webkit-transition: .18s ease-out;
    -moz-transition: .18s ease-out;
    -o-transition: .18s ease-out;
    transition: .18s ease-out;
}
#content_id:hover, #marks:hover, #content_subject:hover, #q1:hover, #a1:hover, #q2:hover, #a2:hover, #q3:hover, #a3:hover{
    box-shadow: inset 1px 2px 8px rgba(0, 0, 0, 0.02);
}
#content_id:focus, #marks:focus, #content_subject:focus, #q1:focus, #a1:focus, #q2:focus, #a2:focus, #q3:focus, #a3:focus{
    color: #4b515d;
    border: 1px solid #B8B6B6;
    box-shadow: inset 1px 2px 4px rgba(0, 0, 0, 0.01), 0px 0px 8px rgba(0, 0, 0, 0.2);
}
label{
    width: 250px;
    font-size: 20px;
    margin: 5px 0;
}
.question{
    font-size: 25px;
}
.content_id{
    font-size: 20px;
    font-weight: 500;
}
