
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Main (Logs out)</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Manage Account</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="/createstudent">Create Student</a>
            <a class="dropdown-item" href="/retrievestudent">Retrieve Student</a>
            <a class="dropdown-item" href="/createtutor">Create tutor</a>
            <a class="dropdown-item" href="/retrievetutor">Retrieve tutor</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Manage Notifications</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/createNotification">Create Notifications</a></li>
            <li><a class="dropdown-item" href="/retrieveNotification">Retrieve Notifications</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
