{% extends "base.html" %}
{% block title %}Student Main{% endblock %}
{% block navbar %}
{% include 'includes/_Snavbar.html' %}
{% endblock %}
{% block links %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/tutorcontent.css') }}">
{% endblock %}

{% block content %}
<div class="container-fluid px-5">
  <h2 Class="display-4 pt-2">Student Content</h2>
  <div class="container-fluid px-5 py-3 Tcontent-bg">
    <div class="row gx-5 gy-5">
      <div class="col-lg-12">
        <div class="row gy-3">
          <div class="col-lg-4">
            <div class="p-3 border Tcontent-left Tann-box">
              <h3 class="Tcontent-title">
                Announcement
              </h3>
              {% for announce in ann_list %}
              <div class="Tannouncemment mt-3">
                <div class="row">
                  <div class="col-lg-8">
                    <h4 class="Tann-title">
                      {{ announce.get_title() }}
                    </h4>
                  </div>
                </div>
                <p class="Tann-date">
                  Posted on {{ announce.get_date() }} by
                  {% for key, value in user_dict.items() %}
                  {% if key == announce.get_id_num() %}
                  {{ value }}
                  {% endif %}
                  {% endfor %}
                </p>
                <p class="Tann-content">
                  {{ announce.get_content() }}
                </p>
                <p class="Tann-date">
                  Last Updated: {{ announce.get_update() }}
                </p>
                <hr/>
              </div>
              {% endfor %}
            </div>
          </div>
          <div class="col-lg-4">
            <div style="overflow: auto;">
              <form class="form-signin login-form" action="{{url_for('s_chat')}}" method="POST">
                <h1 class="h2 mb-3 font-weight-normal login-title">EZ - TUTORS CHAT</h1><br><br>
                <label for="room">Enter Room:</label>
                <input type="text" id="room" name="room" class="form-control login-input" placeholder="Room" required>
                <br>
                <button class="btn btn-lg btn-primary btn-block" value="submit">Start Chat</button>
              </form>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="p-3 border Tcontent-left Tchatgroup-box">
              <h3 class="Tcontent-title">Calendar</h3>
              <div class="calendar"></div>
            </div>
          </div>
          <div class="col-lg-12">
            <div class="p-3 border bg-light">
              <button class="btn btn-secondary col-12 Tcontent-btn" type="button" data-bs-toggle="collapse"
                      data-bs-target="#Content" aria-expanded="false" aria-controls="Content">
                Content
              </button>
              <div class="collapse Tcontent-content text-nowrap" id="Content">
                <br/>
                <div>
                  {% if count_content == 0 %}
                  <p>You have created no entries.</p>
                  {% elif count_content == 1 %}
                  <p>You have created 1 entry.</p>
                  {% else %}
                  <p>You have created {{ count_content }} entries.</p>
                  {% endif %}
                </div>
                <div class="scroll-x">
                  <table class="table table-striped">
                    <thead>
                    <tr>
                      <th>Name</th>
                      <th>Subject</th>
                      <th>File</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for contentx in content_list %}
                    <tr>
                      <td>{{ contentx.get_cname() }}</td>
                      <td>{{ contentx.get_content_subject() }}</td>
                      <td>
                        {% for key, value in file_dict2.items() %}
                        {% if key == contentx.get_cid() and value != '' %}
                        <div class="btn content-download">
                          <a href="{{ url_for('download_file3', name=value ) }}" target="_blank"
                             rel="noreferrer noopener" class="content-download">Download</a>
                        </div>
                        {% endif %}
                        {% endfor %}
                      </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
              <br/>
              <br/>
              <button class="btn btn-secondary col-12 Ttest-btn" type="button" data-bs-toggle="collapse"
                      data-bs-target="#Test" aria-expanded="false" aria-controls="Test">
                Test
              </button>
              <div class="collapse Ttest-content text-nowrap" id="Test">
                <br/>
                <div>
                  {% if count_test == 0 %}
                  <p>There are no tests.</p>
                  {% elif count_test == 1 %}
                  <p>There is 1 test.</p>
                  {% else %}
                  <p>There are {{ count_test }} tests.</p>
                  {% endif %}
                </div>
                <div class="scroll-x">
                  <table class="table table-striped">
                    <thead>
                    <tr>
                      <th>Content ID</th>
                      <th>Subject</th>
                      <th></th>
                      <th></th>
                      <th></th>
                      <th></th>
                      <th>Content</th>
                      <th></th>
                      <th></th>
                      <th></th>
                      <th>Marks</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for test in tests_list %}
                    <tr>
                      <td>{{ test.get_content_id() }}</td>
                      <td>{{ test.get_content_subject() }}</td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td><a href="/studentTestQuestion/{{test.get_content_id()}}" class="btn btn-secondary">{{
                        test.get_content_id() }}</a></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td>{{ test.get_marks() }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                  </table>
                  <br/>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
//check the console for date click event
//Fixed day highlight
//Added previous month and next month view

function CalendarControl() {
    const calendar = new Date();
    const calendarControl = {
      localDate: new Date(),
      prevMonthLastDate: null,
      calWeekDays: ["Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat"],
      calMonthName: [
        "Jan",
        "Feb",
        "Mar",
        "Apr",
        "May",
        "Jun",
        "Jul",
        "Aug",
        "Sep",
        "Oct",
        "Nov",
        "Dec"
      ],
      daysInMonth: function (month, year) {
        return new Date(year, month, 0).getDate();
      },
      firstDay: function () {
        return new Date(calendar.getFullYear(), calendar.getMonth(), 1);
      },
      lastDay: function () {
        return new Date(calendar.getFullYear(), calendar.getMonth() + 1, 0);
      },
      firstDayNumber: function () {
        return calendarControl.firstDay().getDay() + 1;
      },
      lastDayNumber: function () {
        return calendarControl.lastDay().getDay() + 1;
      },
      getPreviousMonthLastDate: function () {
        let lastDate = new Date(
          calendar.getFullYear(),
          calendar.getMonth(),
          0
        ).getDate();
        return lastDate;
      },
      navigateToPreviousMonth: function () {
        calendar.setMonth(calendar.getMonth() - 1);
        calendarControl.attachEventsOnNextPrev();
      },
      navigateToNextMonth: function () {
        calendar.setMonth(calendar.getMonth() + 1);
        calendarControl.attachEventsOnNextPrev();
      },
      navigateToCurrentMonth: function () {
        let currentMonth = calendarControl.localDate.getMonth();
        let currentYear = calendarControl.localDate.getFullYear();
        calendar.setMonth(currentMonth);
        calendar.setYear(currentYear);
        calendarControl.attachEventsOnNextPrev();
      },
      displayYear: function () {
        let yearLabel = document.querySelector(".calendar .calendar-year-label");
        yearLabel.innerHTML = calendar.getFullYear();
      },
      displayMonth: function () {
        let monthLabel = document.querySelector(
          ".calendar .calendar-month-label"
        );
        monthLabel.innerHTML = calendarControl.calMonthName[calendar.getMonth()];
      },
      selectDate: function (e) {
        console.log(
          `${e.target.textContent} ${
            calendarControl.calMonthName[calendar.getMonth()]
          } ${calendar.getFullYear()}`
        );
      },
      plotSelectors: function () {
        document.querySelector(
          ".calendar"
        ).innerHTML += `<div class="calendar-inner"><div class="calendar-controls">
          <div class="calendar-prev"><a href="#/"><svg xmlns="http://www.w3.org/2000/svg" width="128" height="128" viewBox="0 0 128 128"><path fill="#666" d="M88.2 3.8L35.8 56.23 28 64l7.8 7.78 52.4 52.4 9.78-7.76L45.58 64l52.4-52.4z"/></svg></a></div>
          <div class="calendar-year-month">
          <div class="calendar-month-label"></div>
          <div>-</div>
          <div class="calendar-year-label"></div>
          </div>
          <div class="calendar-next"><a href="#/"><svg xmlns="http://www.w3.org/2000/svg" width="128" height="128" viewBox="0 0 128 128"><path fill="#666" d="M38.8 124.2l52.4-52.42L99 64l-7.77-7.78-52.4-52.4-9.8 7.77L81.44 64 29 116.42z"/></svg></a></div>
          </div>
          <div class="calendar-today-date">Today:
            ${calendarControl.calWeekDays[calendarControl.localDate.getDay()]},
            ${calendarControl.localDate.getDate()},
            ${calendarControl.calMonthName[calendarControl.localDate.getMonth()]}
            ${calendarControl.localDate.getFullYear()}
          </div>
          <div class="calendar-body"></div></div>`;
      },
      plotDayNames: function () {
        for (let i = 0; i < calendarControl.calWeekDays.length; i++) {
          document.querySelector(
            ".calendar .calendar-body"
          ).innerHTML += `<div>${calendarControl.calWeekDays[i]}</div>`;
        }
      },
      plotDates: function () {
        document.querySelector(".calendar .calendar-body").innerHTML = "";
        calendarControl.plotDayNames();
        calendarControl.displayMonth();
        calendarControl.displayYear();
        let count = 1;
        let prevDateCount = 0;

        calendarControl.prevMonthLastDate = calendarControl.getPreviousMonthLastDate();
        let prevMonthDatesArray = [];
        let calendarDays = calendarControl.daysInMonth(
          calendar.getMonth() + 1,
          calendar.getFullYear()
        );
        // dates of current month
        for (let i = 1; i < calendarDays; i++) {
          if (i < calendarControl.firstDayNumber()) {
            prevDateCount += 1;
            document.querySelector(
              ".calendar .calendar-body"
            ).innerHTML += `<div class="prev-dates"></div>`;
            prevMonthDatesArray.push(calendarControl.prevMonthLastDate--);
          } else {
            document.querySelector(
              ".calendar .calendar-body"
            ).innerHTML += `<div class="number-item" data-num=${count}><a class="dateNumber" href="#/">${count++}</a></div>`;
          }
        }
        //remaining dates after month dates
        for (let j = 0; j < prevDateCount + 1; j++) {
          document.querySelector(
            ".calendar .calendar-body"
          ).innerHTML += `<div class="number-item" data-num=${count}><a class="dateNumber" href="#/">${count++}</a></div>`;
        }
        calendarControl.highlightToday();
        calendarControl.plotPrevMonthDates(prevMonthDatesArray);
        calendarControl.plotNextMonthDates();
      },
      attachEvents: function () {
        let prevBtn = document.querySelector(".calendar .calendar-prev a");
        let nextBtn = document.querySelector(".calendar .calendar-next a");
        let todayDate = document.querySelector(".calendar .calendar-today-date");
        let dateNumber = document.querySelectorAll(".calendar .dateNumber");
        prevBtn.addEventListener(
          "click",
          calendarControl.navigateToPreviousMonth
        );
        nextBtn.addEventListener("click", calendarControl.navigateToNextMonth);
        todayDate.addEventListener(
          "click",
          calendarControl.navigateToCurrentMonth
        );
        for (var i = 0; i < dateNumber.length; i++) {
            dateNumber[i].addEventListener(
              "click",
              calendarControl.selectDate,
              false
            );
        }
      },
      highlightToday: function () {
        let currentMonth = calendarControl.localDate.getMonth() + 1;
        let changedMonth = calendar.getMonth() + 1;
        let currentYear = calendarControl.localDate.getFullYear();
        let changedYear = calendar.getFullYear();
        if (
          currentYear === changedYear &&
          currentMonth === changedMonth &&
          document.querySelectorAll(".number-item")
        ) {
          document
            .querySelectorAll(".number-item")
            [calendar.getDate() - 1].classList.add("calendar-today");
        }
      },
      plotPrevMonthDates: function(dates){
        dates.reverse();
        for(let i=0;i<dates.length;i++) {
            if(document.querySelectorAll(".prev-dates")) {
                document.querySelectorAll(".prev-dates")[i].textContent = dates[i];
            }
        }
      },
      plotNextMonthDates: function(){
       let childElemCount = document.querySelector('.calendar-body').childElementCount;
       //7 lines
       if(childElemCount > 42 ) {
           let diff = 49 - childElemCount;
           calendarControl.loopThroughNextDays(diff);
       }

       //6 lines
       if(childElemCount > 35 && childElemCount <= 42 ) {
        let diff = 42 - childElemCount;
        calendarControl.loopThroughNextDays(42 - childElemCount);
       }

      },
      loopThroughNextDays: function(count) {
        if(count > 0) {
            for(let i=1;i<=count;i++) {
                document.querySelector('.calendar-body').innerHTML += `<div class="next-dates">${i}</div>`;
            }
        }
      },
      attachEventsOnNextPrev: function () {
        calendarControl.plotDates();
        calendarControl.attachEvents();
      },
      init: function () {
        calendarControl.plotSelectors();
        calendarControl.plotDates();
        calendarControl.attachEvents();
      }
    };
    calendarControl.init();
  }

  const calendarControl = new CalendarControl();

</script>
{% endblock %}
