{% extends "base.html" %}
{% block title %}EzTutors - Notifications{% endblock %}
{% block navbar %}
{% include 'includes/_navbar.html' %}
{% endblock %}
{% block content %}
<h1 class="display-4">Retrieve Notifications</h1>
<div>
    {% if count == 0 %}
    <p>There are no recorded tutor accounts</p>
    {% elif count == 1 %}
    <p>There is 1 tutor account</p>
    {% else %}
    <p>There are {{ count }} tutor accounts</p>
    {% endif %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Notification ID</th>
                <th>Upload Date</th>
                <th>Title</th>
                <th>Description</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for notif in notification_list %}
            <tr>
                <td>{{ notif.get_notif_id() }}</td>
                <td>{{ notif.get_upload_date() }}</td>
                <td>{{ notif.get_title() }}</td>
                <td>{{ notif.get_description() }}</td>
                <td><a href="/updateNotification/{{notif.get_notif_id()}}" class="btn btn-warning">Update</a></td>
                <td>
                <form action="{{url_for('delete_notification', notif_id=notif.get_notif_id())}}" method="POST">
<!--                <input type="submit" value="Delete" class="btn btn-danger">-->
                    <!-- Button to Open the Modal -->
                    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#myModal_{{notif.get_notif_id()}}">
                      Delete
                    </button>

                    <!-- The Modal -->
                    <div class="modal" id="myModal_{{notif.get_notif_id()}}">
                        <div class="modal-dialog">

                            <div class="modal-content">

                                <!-- Modal Header -->
                                <div class="modal-header">
                                    <h4 class="modal-title">Delete Confirmation</h4>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                </div>

                                <!-- Modal body -->
                                <div class="modal-body">
                                    Are you sure you want to delete notification about {{notif.get_title()}}
                                </div>

                                <!-- Modal footer -->
                                <div class="modal-footer">
                                    <input type="submit" value="Delete" class="btn btn-danger">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                </div>

                            </div>
                        </div>
                    </div>
                </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
